body {

    background-image: url('tile.jpg');
    

}

#Header {
    color: #66BFBF;
    text-align: center;
    font-size: 4em;
    font-family: "Comic Sans MS", cursive, sans-serif
    
}


.wrap {
    text-align: center;
    
    background-image: url('formbg.jpg');
    
}

textarea {
    margin-top: 1%;
}
.form-control {
    margin: 1.5px;
}

#container {
    background: url('/tile.jpg');
    display: flex;
    flex-wrap: wrap;
}
.inner {
    margin-right: auto;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#Createbtn {
    background-color: green;
    color: black;
}

#Createbtn:hover {
    background-color: rgb(25, 214, 25);
    color: black;
}

#Clearbtn {
    background-color: red;
    color: black;
}

#Clearbtn:hover {
    background-color: rgb(247, 35, 35);
    color: black;
}



@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.note.row-fluid  {
    background: url('/notebg.png') no-repeat;
    width: 200px;
    height: 250px;
    text-align: left;
    padding: 25px 10px;
    animation: fade 1.5s linear;
    
}


.note.row-fluid > p:first-of-type {
    width: 155px;
    position: relative;
    bottom: 15px;
    height: 59px;
    
}

p{
    word-break: break-word;
    
}

.TaskNoteDisc {
    width: 160px;
    word-break: break-word;
    position: relative;
    bottom: 73px;
    overflow: auto;
    height: 82px;
    
}

.DateTimeZone {
    position: relative;
    bottom: 50px;
}




.x-Button{
background: url('x-button.png')no-repeat;
 position: relative;
 left: 142px;
 width: 30px;
 height: 30px;
 bottom: 100px;
 visibility: hidden;
 opacity: 0;
 cursor: pointer;
 transition: opacity 1s;
}


.note.row-fluid:hover .x-Button {
    visibility: visible;
    opacity: 1;
}

